@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.left {
    margin-right: 20px;
}

@function workoutP($weekP, $exercise) {
    @return map-get(map-get($days, $weekP), $exercise);
}

$days:(
    thursday:(
        completed: true,
        name: bench,
        reps: 10
    ),
    friday:(
        completed: false,
        name: legs,
        reps: 7
    ),
    sunday:(
        completed: false,
        name: triseps,
        reps: 6
    )
);

@mixin workout($completed) {
    width: 300px;
    height: 100px;
    color: black;
    @if $completed {
        background-color: lightgreen;
        font-family: 'Staatliches', cursive;
    }
    @else {
        background-color: red;
        font-family: 'Pacifico', cursive;
    }
}

.thursday {
    @include workout(workoutP(thursday, completed));
}

.friday {
    @include workout(workoutP(friday, completed));
}

.sunday {
    @include workout(workoutP(sunday, completed));
}