@function workoutP ($weekP, $exercise){
    @return map-get(map-get($days, $weekP), $exercise);
}

$days: (
    monday:(
        studentID: 007,
        teacher: "The Awesome One",
        completed: true
    ),
    tuesday:(
        studentID: 007,
        teacher: "The Chosen",
        completed: true
    ),
    wednesday:(
        studentID: 007,
        teacher: "The Dude",
        completed: false
    )
);





@mixin workout ($completed) {
    width: 300px;
    height: 100px;
    color:yellow; 
    @if $completed {
        background-color: lightgreen; 
    } @else {
        background-color: red;
    }
}

.monday {
    @include workout(workoutP(monday, completed));
}

.tuesday {
    @include workout(workoutP(tuesday, completed));
}

.wednesday {
    @include workout(workoutP(wednesday, completed));
}