@function workoutP ($weekP, $exercise){
    @return map-get(map-get($days, $weekP), $exercise);
}

$days: (
    monday:(
        completed: true,
        name: squads,
        reps: 5
        
    ),
    tuesday:(
        completed: true,
        name: chest,
        reps: 2
    ),
    wednesday:(
        completed: false,
        name: biceps,
        reps: 10
    )
);

@mixin workout ($completed) {
    width: 300px;
    height: 100px;
    color:black; 
    @if $completed {
        background-color: lightgreen; 
        
    } @else {
        background-color: red;
    }
}

.monday {
    @include workout(workoutP(monday, completed));
}

.tuesday {
    @include workout(workoutP(tuesday, completed));
}

.wednesday {
    @include workout(workoutP(wednesday, completed));
}

.monday:before {
    content: 'This is driving me nuuuuts';
}

.tuesday:before {
    content: 'Reeeeeeeeeeeeeeeeeeeeeee';
}


.wednesday:before {
    content: 'ahaaaaaaaaaaaaaaaaaaaaaaaaaa';
}
